@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --background-color: #0e0e10;
  --white: #ffffff;
  --tw-color1: #a855f7;
  --tw-color1-hover: #9333ea;
}

body {
  background: var(--background-color);
  font-family: "Inter", sans-serif;
  color: var(--white);
  /* display: flex; */
  margin: 0;
}

h2 {
  font-size: 2rem;
}
.mg-20 {
  margin-bottom: 20px !important;
}
.mg-10 {
  margin-bottom: 10px;
}
.mg-top-20 {
  margin-top: 20px;
}
.max-w-350{
  max-width: 350px;
}
.text-align-left{
  text-align: left;
}
.w-320{
  width: 320px;
}
.checkDis[disabled]{
  background: #666666
}
.w-150{
  width:150px !important;
}
.navbutton{
  background: hsl(230deg 11.63% 8.43%);
  border: 1px solid hsl(230deg 11.63% 17%);
  border-radius: 8px;
 }
 .connect{
  height:100px !important;
}
.connect .tw-connected-wallet__address{
  font-size: 16px !important;
}
.connect .tw-connected-wallet__balance{
  font-size: 14px !important;
}
.connect img{
  height:48px !important;
  width:48px !important;
  filter: hue-rotate(258deg) saturate(0.5) brightness(1.9);
}

.onlyBalance img{
  display: none;
}
.onlyBalance .tw-connected-wallet__address{
  display: none;
}
.onlyBalance .tw-connected-wallet__balance{
  font-size: 18px !important;
  color:#ffffff
}
.h-50{
  height: 50px;
}
.swap-container {
  width: 100% !important;
  border-radius: 16px;
  
  margin: 0 0;
}

.swap-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.token-input {
  width: 70%;
}

.token-select {
  background: #ffffff;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.swap-arrow {
  text-align: right;
  font-size: 16px;
  cursor: pointer;
  margin: 10px auto;
  padding-left: 85%;
}

.exchange-rate {
  text-align: center;
  margin: 10px 0;
}

.swap-button {
  width: 100% !important;
  background-color: #f72585;
  
  padding: 10px;
  border-radius: 12px;
  font-size: 18px;
  margin-top: 20px;
}

.swap-modal .modal-header {
  text-align: center;
}

.swap-modal .modal-body {
  text-align: center;
}

.swap-modal .modal-footer {
  justify-content: center;
}