/* styles/TokensTxBlock.module.css */

.transactionsList {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.transaction {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.transaction:last-child {
  border-bottom: none;
}
